.Card {
  box-shadow: 10px 5px 5px gray;

  display: flex;

  border-radius: 4px;
  margin-bottom: 2%;
  padding: 24px;
}
.votes p {
  text-align: center;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.votes {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  padding: 0;
}

.votes button {
  border: none;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
}

.card-content {
  width: 100%;
  text-align: left;
}
.card-content h3 {
  margin: 0;
  margin-bottom: 5%;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  border-top: 1px dotted gray;
  padding-top: 5px;
  font-size: 0.75rem;
  align-items: center;
  color: black;
  font-size: 1rem;
}
.comments {
  display: flex;
}

.icon button {
  cursor: pointer;
  border: none;
  background-color: white;
  margin-right: 4px;
}

.up-vote {
  color: green;
}

.down-vote {
  color: red;
}

.image-container {
  border-radius: 8px;

  width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
}
.comments {
  margin-left: 3px;
  padding: 0;
  display: inline;
}

@media (max-width: 600px) {
  .Card {
    width: 100%;
  }

  .card-footer {
    flex-direction: column;
  }
}
