.header {
  display: grid;
  width: 100%;
  background-color: #f3f3f3;
  grid-column: 1/4;
}
.navbar-wrapper {
  grid-column: 1/4;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  border: 1px solid red;
  box-shadow: 10px 5px 5px grey;
}

.logo {
  margin-left: 1%;
  display: flex;
  justify-items: center;
}

.search {
  display: flex;

  align-items: center;
  grid-column: 2;
}
.search button {
  border: none;
  color: black;
  border-radius: 2px;
  width: 4%;
  cursor: pointer;
}
.input {
  margin-right: 2%;

  width: 250px;
  border: none;
  border-radius: 4px;
  /* width: 150px;
  height: 20px; */
  padding: 8px 16px;
  background-color: white;
}
.span-min {
  color: blue;
}
